<div class="container">
  <h1>Yelp for Beginners</h1>
  <p><%= link_to 'Back to list', restaurants_path %></p>

  <div>
    <%= simple_form_for [@restaurant] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit "Add a restaurant", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
